.menu-wrapper {
    height: 100%;
    font-family: myfontfamily;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

ul li:nth-last-child(n+3) {
    position: absolute;
    height: 100%;
    font-family: myfontfamily;
    font-size: large;
    z-index: 100;
    margin-left: 1rem;
}

.menu-wrapper:hover {
    color: orange !important;
}

.menu-wrapper-selected {
    color:  orange !important;
}

@media all and (min-width: 768px) {
    ul li:nth-last-child(n+3) {
        position: relative !important;
        margin-left: 1rem;
    }
  }