.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
}

.home-item {
    display: flex;
    justify-content: center;
}

.home-text {
    margin-left: 1rem;
}

.home-title {
    font-family: myfontfamily;
    margin-bottom: 1rem;
    font-size: large;
}

.home1-icon {
    content: url('../../../assets/images/Learn_Nerd.svg');
    width: 8rem;
}

.home2-icon {
    content: url('../../../assets/images/Fashion_Savvy.svg');
    width: 8rem;
}