.menu-wrapper {
    height: 100%;
    font-family: myfontfamily;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-wrapper:hover {
    border-bottom: orange solid .5rem;
}

.menu-wrapper-selected {
    border-bottom: orange solid .5rem;
}