.single-view {
    background-color: white;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.single-author-bar,
.single-content {
    width: 95%;
}

.single-author-bar {
    display: flex;
    justify-content: space-between;  
}

.single-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.single-close-button {
    content: url('./images/cancel.svg');
    height: 35px;
    margin-right: .5rem;
}

.single-title {
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.sticky-button {
    position: fixed;
    top: 3rem;
    z-index: 100;
}

