.menu-wrapper {
    height: 100%;
    font-family: myfontfamily;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-wrapper:hover {
    border-bottom: orange solid 2rem;
}

.menu-wrapper-selected {
    border-bottom: orange solid .5rem;
}

.sticky-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    transition: 0.3s;
    background-color: darkslategrey;
    color: white;
}