.branding {
    color:black;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Kumar One Outline', cursive;
    font-size: 45px;
}

.menu-products {
    content:url("./images/products.png");
    width: 25%;
    height: 75%;
    margin-top:auto;
    margin-bottom:auto;
}

.menu-products:hover {
    content:url("./images/products-selected.png")
}

.menu-articles {
    content:url("./images/articles.png");
    width: 25%;
    height: 75%;
    margin-top:auto;
    margin-bottom:auto;
}

.menu-articles:hover {
    content:url("./images/articles-selected.png")
}

.menu-games {
    content:url("./images/games.png");
    width: 18%;
    height: 75%;
    margin-top:auto;
    margin-bottom:auto;
}

.menu-games:hover {
    content:url("./images/games-selected.png")
}