.adbar-stats {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 2rem;
}

.adbar-item {
    height: 200px;
}

.adbar-title {
    width:100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Revalia', cursive;
    font-size: 24px;
}

.ad-one {
    content: url("./images/bang-dog.png");
    width: 20rem;
    margin: 2rem;
}

.ad-two {
    content: url("./images/bang-cats.png");
    width: 20rem;
    margin: 2rem;
}

.ad-three {
    content: url("./images/DoingMyPart.png");
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2rem;
}