.logo {
    content: url('/components/jumbotron/images/Untitled.png');
}

.jumbo-image {
    margin-left: 50px;
}

.jumbo-slideshow {
    content: url('/components/jumbotron/images/Preview6.jpeg');
    flex: 1;
}