.logo {
    content: url('/components/jumbotron/images/glasses7.svg');
    height: 80px;
    margin-top: 15px;
}

.jumbo-image {
    margin-left: 50px;
}

.jumbo-slideshow {
    content: url('/components/jumbotron/images/Preview4.jpeg');
    flex: 1;
}

.mouth {
    margin-left: 100px;
}

.branding {
    margin-top: .8rem;
    font-family: 'Revalia', cursive;
    font-size: 42px;
}