.mini-article {   
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10rem;
    display: flex;
    align-content: center;
    background-color: white;
    overflow: hidden;
    width:100%;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

.mini-design {
    /* border: 2px black solid; */
    background-color: white;
    margin-top: 2rem;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mini-article:hover {
    box-shadow: 0 4px 8px 0 #2F4F4F, 0 6px 20px 0 #2F4F4F;
    transition: all 200ms ease-out;
}

.article-stats-bar {
    width: 3.5rem;
    background-color: #CC7450;
    background: linear-gradient(#FF7F50, #986850); /* Standard syntax */
    order: -1;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.article-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1rem;
}

.multiview-wrapper {
    height: 100%;
}

.article-title {
    width: 100%;
    flex-basis: 25%;
    font-size: x-large;
}

.article-meta {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.article-preview-body {
    margin-top: .5rem;
}

/* medium devices (ie. tablets) */
@media all and (min-width: 768px) {
    .mini-article .article-stats-bar {
        display: flex;
    }

    .mini-article {
        width: 22rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        align-items: stretch;
        border-bottom: none;
        margin-top: 2rem;
    }
}
