.login-form {
    display: flex;
}

#login-username {
    margin-right: 3rem;
    height: 80%;
}

#login-password {
    margin-right: 3rem;
    height: 80%;
}

#login-submit {
    margin-right: 3rem;
    height: 80%;
    margin-top:auto;
    margin-bottom:auto;
}

.header-topmargin {
  
}

/* medium devices (ie. tablets) */
@media all and (min-width: 768px) {
    .header-topmargin {
      background-color: #2f4f4f;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 3.5vh;
      width: 100%;
      order: -1;
      display: flex;
      justify-content: flex-end;
    }
}

@import "./elements/submitbutton.less";

